@import 'normalize.css';
@import 'nav.css';
@import 'player.css';
@import 'variables.css';
@import 'playlist.css';
@import 'artistes.css';
@import 'musiques.css';



*{
  font-family:roboto, light;
}

.active{
  visibility: visible;
  opacity: 1;
  transition:             opacity 2s, visibility 2s;
      -moz-transition:    opacity 2s, visibility 2s;
      -ms-transition:     opacity 2s, visibility 2s;
      -o-transition:      opacity 2s, visibility 2s;
      -webkit-transition: opacity 2s, visibility 2s;
      
}

.hidden{
  transition:             opacity 2s, visibility 2s;
  -moz-transition:    opacity 2s, visibility 2s;
  -ms-transition:     opacity 2s, visibility 2s;
  -o-transition:      opacity 2s, visibility 2s;
  -webkit-transition: opacity 2s, visibility 2s;
  opacity: 0;
  visibility: hidden;
  /* transition-duration: 500ms; */
}
header{
background-color: #202020;
padding: 20px;
color: white;
display:flex;
flex-direction: row;
justify-content: space-between;
position:relative;

}

html {
  height: 100%;
}
body {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin:0;
  display: flex;
  flex-direction: column;;
}

.hidden{
  display:none;
}

.theApp{
  overflow-y: auto;
  background-color: #bdbdbd;
  margin-top: 0px !important;
  margin-bottom: 0px;
  flex-grow: 1;
  width: 100%;
  height: auto;
}


button{
  padding: 10px 15px;
  border: #2d2d2d;
  border-radius: 2px;
  
}

.textHome{
  /* display:flex; */
  justify-content: left;
  /* flex-direction: column; */
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}

/* partie bottom */
.return{
  text-align: center;
  justify-content: center;
}

footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position:relative;
}

footer button{
  text-align: center;
  border-left:solid 1px white;
  border-right:solid 1px white;
  background-color: #2d2d2d;
  padding: 30px;
  color: white;
  width: 100%;
}

footer a{
  text-align: center;
  border-left:solid 1px white;
  border-right:solid 1px white;
  background-color: #2d2d2d;
  padding: 30px;
  color: white;
  width: 100%;
}

#navigationMenu button:hover{
  background-color: #000000;
  color: rgb(212, 47, 163);
  transition: background-color 1s ease, color 1s ease;
}

#navigationMenu a:hover{
  background-color: #000000;
  color: rgb(212, 47, 163);
  transition: background-color 1s ease, color 1s ease;
}