.listeTitres{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.listeTitres li{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px darkgrey
}

.listeTitres li:first-child{
    border: none;
}

li .material-icons{
    position: absolute;
    padding-left: 50px;

}

.listeTitres li:hover{
    background-color: #2d2d2d;
    transition: background-color 1s ease;
    color: white;
}

li{
    padding: 20px;
}

span {
    display: inline; /* evite l'overlaping des icones*/

}

.song-icons{
  position: relative !important;
}