.musique{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.titrePage{
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  
  }
  
  .titreSecondaire{
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
  }
  
  /* partie playlist */
  
  li{
    list-style-type: none;
  }
  
  .playlistContainer{
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-flow: space-evenly;
    text-align: center;
    padding:20px;
    justify-content: center;
  }
  
  .playlistContainer li{
  margin:20px;
  padding: 20 0 20 0;
  }